@function colour($key) {
  $colour: map-get($colours, $key);
  @return $color;
}

@function size($key) {
  $size: map-get($scale, $key);
  @return $size;
}

@function type($value, $key) {
  $type: map-get($typography, map-get($value, $key));
  @return $type;
}
