@use "../styleguide" as sg;

body {
  background-color: sg.$neutral-white;
  color: sg.$neutral-black;
  line-height: 1.5;
  font-size: sg.$size-400;
  font-family: sg.$font-sans;

  // Remove container
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: sg.$size-900;
}
h2 {
  font-size: sg.$size-800;
}
h3 {
  font-size: sg.$size-700;
}
h4 {
  font-size: sg.$size-600;
}
h5 {
  font-size: sg.$size-500;
}
h6 {
  font-size: sg.$size-400;
}

h1,
h2,
h3,
h4 {
  font-weight: sg.$weight-bold;
  line-height: sg.$leading-flat;
}

p,
li,
blockquote {
  max-width: sg.$length-long;
}

a {
  color: sg.$neutral-black;
  font-weight: sg.$weight-regular;

  &:hover {
    color: sg.$primary;
  }
}

:focus {
  outline: 2px dashed sg.$primary;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

::selection {
  color: sg.$neutral-white;
  background: rgba(sg.$neutral-black, 0.99);
}
