@use "../abstracts" as *;

.split {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;

    & > * {
      flex-basis: 100%;
    }

    & > * + * {
      margin-left: var(--size-600);
    }
  }
}
