// Primary colours
$primary: #513aa6;
$primary-dark: #432e92;
$primary-light: #654ac9;

// Secondary colours
$secondary: #6ac2b6;
$secondary-dark: #35a495;
$secondary-light: #98e2d8;

// Neutral colours
$neutral-black: #181818;
$neutral-white: #f2f2f2;
