$base: 1rem;

$size-300: $base * 0.75;
$size-400: $base;
$size-500: $base * 1.33;
$size-600: $base * 1.77;
$size-700: $base * 2.36;
$size-800: $base * 3.15;
$size-900: $base * 4.2;
$size-major: $base * 5.6;
